body,input{
    font-family: Arial, Helvetica, sans-serif;
}
.outlined_textfield{
    position: relative;
    margin-top: 15px;
    display: inline-block;
}
.outlined_textfield .outlined_textfield_label{
    position: absolute;
    top: -10px;
    left: 7px;
    background-color: white;
    padding: 0 4px;
    font-size: 14px;
    color: #6200ee;
}
.outlined_textfield .outlined_textfield_input{
    outline: none;
    border: 2px solid gray;
    padding: 12px 30px 14px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.outlined_textfield .outlined_textfield_caption{
    font-size: 11px;
    margin: 6px 0 0 12px;
}
.outlined_textfield:active label{
    color: #6200ee;
}
.outlined_textfield .outlined_textfield_input:focus{
    border-color: #6200ee;
}
.outlined_textfield .outlined_textfield_righticon{
    position: absolute;
    top: 15px;
    right: 12px;
    color: gray;
}
.outlined_textfield i:last-child{
    
}